<ul class='paginate-ctrl'>
  <li>
    <button disabled={{previousDisabled}} {{action 'previousClicked'}}>Previous</button>
  </li>
  <li>
    <button {{action 'nextClicked'}}>Next</button>
  </li>
</ul>
